<!-- ensubst template for credentials.xml -->
<Credentials xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Credential xsi:type="CredentialWeb">
    <Url>http://www.cbr.ru/Queries/UniDbQuery/DownloadExcel/98956</Url>
  </Credential>
  <Credential xsi:type="CredentialFolder">
    <Path>${LIBPQ}</Path>
  </Credential>
</Credentials>
